@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--slider area start-->
<div class="slider-area pos-rltv carosule-pagi cp-line">
    <div class="active-slider">
        <div class="single-slider pos-rltv">
            <div class="slider-img"><img src="Content/ShopPage/images/slider/slider01.jpg" alt=""></div>
            <div class="slider-content pos-abs">
                <h4>Best Collection</h4>
                <h1 class="uppercase pos-rltv underline">exclusive Fashion 2022</h1>
                <a href="#" class="btn-def btn-white">Shop Now</a>
            </div>
        </div>
        <div class="single-slider pos-rltv">
            <div class="slider-img"><img src="Content/ShopPage/images/slider/slider02.jpg" alt=""></div>
            <div class="slider-content pos-abs">
                <h4>Best Collection</h4>
                <h1 class="uppercase pos-rltv underline">exclusive Fashion 2022</h1>
                <a href="#" class="btn-def btn-white">Shop Now</a>
            </div>
        </div>
        <div class="single-slider pos-rltv">
            <div class="slider-img"><img src="Content/ShopPage/images/slider/slider01.jpg" alt=""></div>
            <div class="slider-content pos-abs">
                <h4>Best Collection</h4>
                <h1 class="uppercase pos-rltv underline">exclusive Fashion 2022</h1>
                <a href="#" class="btn-def btn-white">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!--slider area start-->
<!--delivery service start-->
<div class="delivery-service-area ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-service shadow-box text-center">
                    <img src="Content/ShopPage/images/icons/garantee.png" alt="">
                    <h5>Money Back Guarantee</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service shadow-box text-center">
                    <img src="Content/ShopPage/images/icons/coupon.png" alt="">
                    <h5>Gift Coupon</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service shadow-box text-center">
                    <img src="Content/ShopPage/images/icons/delivery.png" alt="">
                    <h5>Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service shadow-box text-center">
                    <img src="Content/ShopPage/images/icons/support.png" alt="">
                    <h5>24x7 Support</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--delivery service start-->
<!--new arrival area start-->
@Html.Action("ProductByCategoryPartial", "Home")
<!--new arrival area end-->
<!--testimonial-area-start-->
<div class="testimonial-area overlay ptb-70 mt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title color-lightgrey mb-40 text-center">
                    <h5 class="uppercase">Testimonial</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="total-testimonial active-slider carosule-pagi pagi-03">
                    <div class="single-testimonial">
                        <div class="testimonial-img">
                            <img src="Content/ShopPage/images/team/testi-03.jpg" alt="">
                        </div>
                        <div class="testimonial-content color-lightgrey">
                            <div class="name-degi pos-rltv">
                                <h5>Alexandra</h5>
                                <p>Developer</p>
                            </div>
                            <div class="testi-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="testimonial-img">
                            <img src="Content/ShopPage/images/team/testi-02.jpg" alt="">
                        </div>
                        <div class="testimonial-content color-lightgrey">
                            <div class="name-degi pos-rltv">
                                <h5>Bernadette</h5>
                                <p>Facebook Liker</p>
                            </div>
                            <div class="testi-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="testimonial-img">
                            <img src="Content/ShopPage/images/team/testi-01.jpg" alt="">
                        </div>
                        <div class="testimonial-content color-lightgrey">
                            <div class="name-degi pos-rltv">
                                <h5>Amanda</h5>
                                <p>Designer</p>
                            </div>
                            <div class="testi-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--testimonial-area-end-->
<!--blog area are start-->
@Html.Action("BlogPartial", "Home")
<!--blog area are end-->