@{
    ViewBag.Title = "Người dùng không tồn tại hoặc bạn chưa xác thực tài khoản";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            @*Kiểm tra Email để tạo lại mật khẩu.*@
        </p>
    </div>
</main>
