
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="area-404 ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-404 text-center">
                    <div class="text-404">
                        <h1>Lỗi! Không tìm thấy trang bạn yêu cầu.</h1>
                    </div>
                    <img src="~/Content/ShopPage/images/img_404.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

