@model IEnumerable<ClothesShop.Areas.Admin.Controllers.MonthlyMoneyStatistics>
@{
    ViewBag.Title = "Doanh thu theo tháng/năm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin/Statistics" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="#">Thống kê</a></li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        <div class="col-2">
            <label class="focus-label">Năm</label>
            <div>
                <select id="yearSelect" name="year" class="col-12" style="height: 37px; border: 1px solid #ced4da; border-radius: .25rem; box-shadow: inset 0 0 0 transparent;">
                    <option value="-1">--Năm--</option>
                    @foreach (var year in ViewBag.years)
                    {
                        <option value="@year">@year</option>

                    }

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="chart">
                    <canvas id="barChart" style="min-height: 550px; height: 250px; max-height: 75%; max-width: 100%;"></canvas>
                </div>
            </div>
            <div class="col-md-4" id="load_data"></div>
        </div>
    </div>
</section>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#yearSelect').change(function () {
                var selectedYear = parseInt($(this).val());
                var arrDoanhThu = [];
                var arrMonth = [];
                var strHtml = '<a href="/Statistics/ExportExcel?year=' + selectedYear.toString() + '">Xuất file</a><table class="table table-bordered" id="myTable"><thead><tr><th>Tháng</th><th>Doanh Thu</th></tr></thead><tbody>';
                console.log(strHtml);
                if (selectedYear > -1) {
                    $.ajax({
                        url: '/Statistics/GetIncomeStatistics',
                        type: 'POST',
                        data: { year: selectedYear },
                        success: function (rs) {
                            $.each(rs.data, function (i, item) {
                                arrMonth.push(item.Month.toString());
                                arrDoanhThu.push(item.TotalMoney);
                                strHtml += "<tr>";
                                /*strHtml += "<td>" + (i + 1) + "</td>";*/
                                strHtml += "<td>" + item.Month.toString() + "</td>";
                                strHtml += "<td>" + item.TotalMoney.toLocaleString() + "</td>";
                                strHtml += "</tr>";
                            });
                            strHtml += '</tbody></table>';
                            var config = {
                                type: 'bar',
                                data: {
                                    labels: arrMonth,
                                    datasets: [{
                                        label: 'Doanh thu',
                                        data: arrDoanhThu,
                                        borderColor: 'rgba(147, 112, 219)',
                                        backgroundColor: 'rgb(128, 0, 128)',
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            position: 'top',
                                        },
                                        title: {
                                            display: true,
                                            text: 'Doanh thu năm ' + selectedYear,
                                        }
                                    },
                                    scales: {
                                        x: {
                                            title: {
                                                display: true,
                                                text: 'Tháng'
                                            }
                                        },
                                        y: {
                                            title: {
                                                display: true,
                                                text: 'Doanh thu (VND)'
                                            }
                                        },
                                    }
                                },
                            };
                            if (window.myChart) {//myChart là biến toàn cục
                                window.myChart.destroy();
                            }
                            window.myChart = new Chart(document.getElementById('barChart'), config);
                            $('#load_data').html(strHtml);
                        },
                        error: function (e) {
                            console.error(e);
                        }
                    })
                }
            });
        });
    </script>
}

