@model ClothesShop.Models.EF.News

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-blog-body container  ">
    <div class="single-blog sb-2 mb-30">
        <div class="blog-img pos-rltv product-overlay">
            <a href="#"><img src="images/blog/about.jpg" alt=""></a>
        </div>
        <div class="blog-content">
            <div class="blog-title">
                <h5 class="uppercase font-bold">New fashion collection 2022</h5>
                <div class="like-comments-date">
                    <ul>
                        <li>
                            <a href="#"><i class="zmdi zmdi-favorite-outline"></i>13 Like</a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-comment-outline"></i>03 Comments</a>
                        </li>
                        <li class="blog-date"><a href="#"><i class="zmdi zmdi-calendar-alt"></i>16 jun 2022</a></li>
                    </ul>
                </div>
                <div class="blog-text">
                    @Html.Raw(Model.Detail)
                </div>
            </div>
            
            <div class="related-post mt-30">
                <h5 class="uppercase sb-title">Related Blog</h5>
                <div class="total-blog-3 slick-initialized slick-slider">
                    <div aria-live="polite" class="slick-list draggable">
                        <div class="slick-track" role="listbox" style="opacity: 1; width: 3648px; transform: translate3d(-912px, 0px, 0px);">
                            <div class="blog-item slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="-1"><img src="images/blog/03.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="-1">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="-1"><img src="images/blog/01.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="-1">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="0"><img src="images/blog/01.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="0">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="0">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="0">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="0">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-text">
                                                <p>
                                                    It is a long established fact that a reader will
                                                    be distracted by the readable content of a page
                                                    when looking at its layout. The point of using.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="0"><img src="images/blog/02.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="0">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="0">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="0">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="0">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="-1"><img src="images/blog/03.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="-1">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-text">
                                                <p>
                                                    It is a long established fact that a reader will
                                                    be distracted by the readable content of a page
                                                    when looking at its layout. The point of using.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="-1"><img src="images/blog/01.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="-1">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-text">
                                                <p>
                                                    It is a long established fact that a reader will
                                                    be distracted by the readable content of a page
                                                    when looking at its layout. The point of using.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" tabindex="-1" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="-1"><img src="images/blog/01.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="-1">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-text">
                                                <p>
                                                    It is a long established fact that a reader will
                                                    be distracted by the readable content of a page
                                                    when looking at its layout. The point of using.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="blog-item slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" tabindex="-1" style="width: 426px;">
                                <div class="single-blog">
                                    <div class="blog-img pos-rltv product-overlay">
                                        <a href="#" tabindex="-1"><img src="images/blog/02.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-title">
                                            <h5 class="uppercase font-bold">
                                                <a href="#" tabindex="-1">
                                                    New fashion
                                                    collection 2022
                                                </a>
                                            </h5>
                                            <div class="like-comments-date">
                                                <ul>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-favorite-outline"></i>13
                                                            Like
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-comment-outline"></i>03
                                                            Comments
                                                        </a>
                                                    </li>
                                                    <li class="blog-date">
                                                        <a href="#" tabindex="-1">
                                                            <i class="zmdi zmdi-calendar-alt"></i>16
                                                            jun 2022
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-text">
                                                <p>
                                                    It is a long established fact that a reader will
                                                    be distracted by the readable content of a page
                                                    when looking at its layout. The point of using.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

