@model IEnumerable<ClothesShop.Models.EF.News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row p-3">
    <div class="blog-wraper row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
            <div class="single-blog sb-2 mb-30">
                <div class="blog-img pos-rltv product-overlay">
                    <a href="/chi-tiet/@item.Alias-n@{@item.Id}"><img src="@item.Image" alt=""></a>
                </div>
                <div class="blog-content">
                    <div class="blog-title">
                        <h5 class="uppercase font-bold"><a href="/chi-tiet/@item.Alias-n@{@item.Id}">@item.Title</a></h5>
                        <div class="like-comments-date">
                            <ul>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite-outline"></i>13 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comment-outline"></i>03 Comments</a>
                                </li>
                                <li class="blog-date"><a href="#"><i class="zmdi zmdi-calendar-alt"></i>@item.CreatedDate.ToString("yyyy-MM-dd")</a></li>
                            </ul>
                        </div>
                        <div class="blog-text">
                            <p>
                                @item.Description
                            </p>
                        </div> <a class="read-more montserrat" href="single-blog.html">Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>

